<h1> search </h1>

<% @results.each do |x| %>
<ul>
<img src="<%= x.artwork_url %>" />
<li><%= link_to x.title, url_for(:tracks, :player, :id => x.permalink_url) %>
</li>
<li><%= x.genre %></li>
</ul>
<% end %>
  